$header-base-height: 60px;
.header {
  background: linear-gradient($color-black-meduim, $color-black-dark);
  min-height: $header-base-height;
  color: white;

  // .header__inner
  &__inner {
    display: flex;
    align-items: center;
    height: $header-base-height;
  }

  // .header__logo
  &__logo {
    width: 70px;
    height: 35px;
    border-radius: $border-radius;
    z-index: 100;
    img {
      object-fit: cover;
    }
  }

  // .header__lang
  &__lang {
  }
}

//-----  MEDIA QUERY / RESPONSIVE ----
// min md size
@media #{$bp-min-md} {
}
