.movie-card {
  display: flex;
  min-height: 260px;
  position: relative;
  box-shadow: $box-shadow;
  border-radius: $border-radius;

  // .movie-card__content
  &__content {
    padding: calc( $gutter-base / 3);
    width: 66%;
  }

  //  movie-card__header
  &__header {
    h2 {
      margin-bottom: 0;
      display: flex;
      > span {
        flex: 1;
      }

    }
    > span {
      font-family: $font-thin-italic;
    }
    // edition
  }

  // edit pincil icone
  &__btn {
    margin-left: 5px;
   }


  // .movie-card__poster
  &__poster {
    background-color: $color-gray-light;
    background-image: url("#{$path-img}/icon_poster.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 34%;
  }

  // .movie-card__info
  &__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: $gutter-half;
  }

  // movie-card__field
  &__field {
    font-size: 16px;
    min-width: 50px;
    margin-right: calc($gutter-base / 3);
    text-align: center;
    margin-bottom: calc($gutter-base / 3);
    label {
      font-family: $font-thin;
      font-size: 13px;
      display: block;
      background-color: $color-gray-light;
      @include padding(null calc($gutter-base / 6));
    }
    span {
      font-size: 15px;
    }
  }
}
