.pagination {
  background-color: $color-gray-light-2;
  padding: $gutter-half;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  a {
    @include margin(null $gutter-half);
    color: $color-gray-meduim;
    span {
      &.active {
        color: $color-black-dark;
        font-weight: bold;
      }
    }
  }
}
