.search-form {
  display: flex;
  align-items: center;
  flex: 1;
  z-index: 10;
  input {
    &.search-form__input {
      // .search-form__input--desktop
      &--desktop {
        position: relative;
        z-index: inherit;
        margin-left: $gutter-base;
        height: 23px;
        width: 340px;
        background-color: white;
        background-image: url("#{$path-img}/icon_magnify.svg");
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) 3px;
      }
      // .search-form__input--mobile
      &--mobile {
        background-color: white;
        height: 40px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0px;
        border: solid 4px $color-black-dark;
        opacity: 0;
        transition: all 0.5s ease;

        &.active {
          opacity: 1;
          top: 50px;
        }
      }
    }
  }

  // .search-form__btn-mobile
  &__btn-mobile {
    background-image: url("#{$path-img}/icon_magnify_white.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
    left: calc(100% - 50px);
  }
}

//-----  MEDIA QUERY / RESPONSIVE ----
// min md size
@media #{$bp-min-md} {
  .search-form {
  }
}
