.select-lang {
  display: flex;
  align-items: center;
  flex: 0;
  justify-content: flex-end;
  z-index: 100;
  a {
    width: 40px;
    height: 25px;
    display: block;
    opacity: 0.5;
    &.fr {
      background-image: url("#{$path-img}/flag_fr.svg");
      background-size: cover;
      margin-right: calc($gutter-base / 3);
    }
    &.en {
      background-image: url("#{$path-img}/flag_usa.svg");
      background-size: cover;
    }
    &.active {
      opacity: 1;
    }
  }
}

//-----  MEDIA QUERY / RESPONSIVE ----
// min md size
@media #{$bp-min-md} {
  .select-lang {
    a {
      width: 15px;
      height: 10px;
      &.fr {
        margin-right: calc($gutter-base / 6);
      }
    }
  }
}
