* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: $fz-default;
  font-family: $font-family-content;
  color: $color-black-dark;
}

p {
  text-align: justify;
}

strong {
  // font-family: $font-bold;
}

ul,
li {
  list-style: none;
}

h1,
.h1-like {
  font-size: $fz-h1;
}

h2,
.h2-like {
  font-size: $fz-h2;
}

h3,
.h3-like {
  font-size: $fz-h3;
}

h4,
.h4-like {
  font-size: $fz-h4;
}

a {
  cursor: pointer;
  color: $color-black-dark;
}

#{$all-text-inputs} {
  outline: none;
  font-size: 16px;
  border: none;
  @include padding(null calc($gutter-half / 2));
  &::placeholder {
    font-family: $font-thin-italic;
  }
}

label {
  margin: 0;
}
.box {
  background-color: $color-gray-meduim;
  height: 100%;
  width: 100%;
}

// layout
main {
  min-height: calc(100vh - 118px);
}
