// ----------------- global overloading libs -------------//
//------ bootsrap / bootstrapVue ----------------
// forms
main,
.modal {
  #{$all-text-inputs},
  select {
    border: solid 1px $color-gray-meduim;
    border-radius: 0px;
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $color-black-meduim;
  border-color: $color-black-meduim;
}

// modal
.modal {
  .modal-header,
  .modal-footer {
    border: none;
  }
  .modal-title {
    flex: 1;
    text-align: center;
  }
  .modal-footer {
    justify-content: center;
    .btn-secondary {
      order: 2;
    }
  }
}

// btns
.btn {
  border-radius: 0;
  outline: none;
  border: none;
  min-width: 120px;
}
.btn-primary {
  background: linear-gradient($color-black-dark, $color-black-meduim);
}
.btn-secondary {
  background: $color-gray-meduim;
}
