// todo
// FONTS
$font-regular: "Roboto-Regular";
$font-thin-italic: "Roboto-ThinItalic";
$font-thin: "Roboto-Thin";
$font-family-content: $font-regular;
$fw-title-light: 300;
$fw-title-regular: 400;
$fw-title-bold: 700;
$fw-title-black: 900;

//  taille font
$fz-default: 18px; // var(--fz-default)
$fz-h1: 34px; // var(--fz-h1)
$fz-h2: 24px; // var(--fz-h2)
$fz-h3: 21px; // var(--fz-h3)
$fz-h4: 19px; // var(--fz-h4)

// COLORS
$color-black-meduim: #494848;
$color-black-dark: #000;
$color-gray-light: #F3F3F3;
$color-gray-light-2: #E8E5E5;
$color-gray-meduim: #9b9b9b;
$color-gray-dark: #4A4A4A;

// branding
$color-brand-primary: $color-gray-meduim;
$color-brand-secondary: $color-black-dark;

// borders :
$border-default: 1px solid $color-gray-meduim;
$border-radius: 5px;

// box-shadow
$box-shadow: 0px 0px 11px 0px $color-gray-light-2;

/*----- RESPONSIVE ------*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 991px,
  xl: 1200px,
);

// MEDIA QUERY
$bp-min-sm: "only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})"; // min 576px
$bp-min-md: "only screen and (min-width: #{map-get($grid-breakpoints, 'md')})"; // min 768px
$bp-min-lg: "only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})"; // min 992px
$bp-min-xl: "only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})"; // min 1200px
$bp-max-sm: "only screen and (max-width: #{map-get($grid-breakpoints, 'md')-1})"; // max 767px
$bp-max-md: "only screen and (max-width: #{map-get($grid-breakpoints, 'lg')-1})"; // max 991px
$bp-max-lg: "only screen and (max-width: #{map-get($grid-breakpoints, 'xl')-1})"; // max 1199px

// only small tablet : from 768 to 991
$bp-only-tablet : "only screen and (min-width: #{map-get($grid-breakpoints, 'md')}) and (max-width: #{map-get($grid-breakpoints, 'lg')-1})";

// spacing
$gutter-base: 30px;
$gutter-half: calc($gutter-base / 2);

// path
$path-assets: "./assets";
$path-img : "#{$path-assets}/images";
$path-fonts : "#{$path-assets}/fonts";



