<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <header>
      <Header />
    </header>
    <main>
      <Counter :step="3" />
    </main>
    <footer>
      <Pagination />
    </footer>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Counter from "@/components/Counter.vue";

import Pagination from "@/components/Pagination.vue";
export default {
  name: "Home",
  components: {
    Header,
    Counter,
    Pagination,
  },
};
</script>
