<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <header>
      <Header />
    </header>
    <main>
      <ListeMovies />
    </main>
    <footer>
      <Pagination />
    </footer>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import ListeMovies from "@/components/ListeMovies.vue";
import Pagination from "@/components/Pagination.vue";
export default {
  name: "Home",
  components: {
    Header,
    ListeMovies,
    Pagination,
  },
};
</script>
