<template>
  <form class="edit-form container-fluid">
    <b-row>
      <label class="col-md-3" for="isAdult">{{ $t("movie.isAdult") }}</label>
      <b-form-radio-group
        id="isAdult"
        v-model="currentMovie.isAdult"
        :options="isAdultOptions"
        class="mb-3"
        value-field="item"
        text-field="name"
        disabled-field="notEnabled"
      ></b-form-radio-group>
    </b-row>
    <b-row class="mb-3">
      <label class="col-md-3" for="minute">Titre</label>
      <b-form-input
        id="primaryTitle"
        class="col-md-6"
        v-model="currentMovie.primaryTitle"
      />
    </b-row>
    <b-row class="mb-3">
      <label class="col-md-3" for="minute">Minute</label>
      <b-form-input
        id="minute"
        class="col-md-6"
        v-model="currentMovie.runtimeMinute"
      />
    </b-row>
    <b-row class="mb-3">
      <label class="col-md-3" for="start-year">{{
        $t("movie.startYear")
      }}</label>
      <b-form-select
        id="start-year"
        class="col-md-9 start-year"
        v-model="currentMovie.startYear"
        :options="yearsSelectList"
      >
        <option :value="currentMovie.startYear">
          {{ currentMovie.startYear }}
        </option>
      </b-form-select>
    </b-row>
    <b-row class="mb-3">
      <label class="col-md-3" for="end-year">{{ $t("movie.endYear") }}</label>
      <b-form-select
        id="end-year"
        class="col-md-9"
        v-model="currentMovie.endYear"
        :options="yearsSelectList"
      >
        <option :value="currentMovie.endYear">
          {{ currentMovie.endYear }}
        </option>
      </b-form-select>
    </b-row>
    <b-row class="mb-3">
      <label class="col-md-3" for="genre">genre</label>
      <b-form-input id="genre" class="col-md-9" v-model="currentMovie.genres" />
      <!-- <b-form-select
        id="genre"
        class="col-md-9"
        v-modal="currentMovie.genres"
        :value="getCurrentMovie.genres"
        :options="genreselectList"
      >
        <option :value="getCurrentMovie.genres">
          {{ getCurrentMovie.genres }}
        </option>
      </b-form-select> -->
    </b-row>
  </form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import {
  GET_CURRENT_MOVIE,
  UPDATE_MOVIE,
  FETCH_MOVIES,
  ADD_MOVIE,
} from "@/store/modules/movies.js";
import GlobalMixin from "@/mixins/globals.vue";

export default {
  mixins: [GlobalMixin],
  data() {
    return {
      currentMovie: {
        id: 0,
        endYear: 0,
        genres: "",
        isAdult: false,
        originalTitle: "",
        primaryTitle: "",
        runtimeMinute: 0,
        startYear: "0",
        tConst: "",
        dateChargement: null,
        titleType: "",
        /*
            "endYear": 1967,
      "genres": "Documentary,Short, test de ping",
      "isAdult": true,
      "originalTitle": "Carmencita",
      "primaryTitle": "Carmencita",
      "runtimeMinute": "1000",
      "startYear": 1900,
      "tConst": "tt0000001",
      "dateChargement": "2021-10-19T16:09:14.446Z",
      "titleType": "short"
        */
      },
      isAdultValue: false,
      isAdultOptions: [
        { item: false, name: this.$t("common.no"), selected: true },
        { item: true, name: this.$t("common.yes") },
      ],
    };
  },
  props: {
    isEditingMode: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters("movies", {
      getCurrentMovie: GET_CURRENT_MOVIE,
    }),
  },
  methods: {
    ...mapActions("movies", {
      fetchMovies: FETCH_MOVIES,
      updateMovie: UPDATE_MOVIE,
      addMovie: ADD_MOVIE,
    }),
    async editing() {
      await this.updateMovie(this.currentMovie);
      await this.fetchMovies();
    },
    async creation() {
      await this.addMovie(this.currentMovie);
      await this.fetchMovies();
    },
  },
  created() {
    if (this.isEditingMode) {
      // si le formulaire est en mode modification en recupere le current movie sinon c'est en mode creation !
      this.currentMovie = this.getCurrentMovie;
    }
  },
};
</script>

<style></style>
