<template>
  <div class="header">
    <div class="container-fluid">
      <div class="header__inner">
        <router-link class="en ml-2 header__logo" :to="'/'">
          <img
            class=""
            src="~@/assets/images/logo.svg"
            alt="MDb : V1-c 2"
            title="MDb : V1-c 2"
          />
        </router-link>
        <SearchForm />
        <SelectLang />
      </div>
    </div>
  </div>
</template>

<script>
import SearchForm from "@/components/SearchForm.vue";
import SelectLang from "@/components/SelectLang.vue";
export default {
  name: "Header",
  components: {
    SearchForm,
    SelectLang,
  },
};
</script>

<style></style>
