<template>
  <div class="list-movies container-fluid pt-4">
    <div class="list-movies__topPanel mb-3">
      <b-button variant="success" v-b-modal.modal_creation>
        <b-icon icon="plus-circle" />
        <span> {{ $t("common.newMovie") }} </span>
      </b-button>
      <b-button
        v-show="movies.length === 0 && isFirebaseSource"
        variant="info"
        @click="loadingDataMovies"
        class="ml-3"
      >
        <b-icon icon="box-arrow-down" />
        <span> {{ $t("common.downloadData") }} </span>
      </b-button>
      <span class="pl-3">
        {{ $t("common.nbrResult") }}
        {{ getMovies.length }}</span
      >
    </div>
    <div
      v-if="isLoading"
      class="d-flex justify-content-center align-items-center mb-5"
    >
      <b-spinner type="grow" variant="primary" label="Spinning" />
    </div>
    <b-row v-else>
      <b-col
        lg="6"
        xl="4"
        class="mb-4"
        v-for="item in getMoviesByPage"
        :key="item.id"
      >
        <MovieCard :movie="item" />
      </b-col>
    </b-row>
    <b-modal
      id="modal_edition"
      :title="$t('common.editing')"
      @ok="validationModal"
      @hidden="resetModal"
    >
      <EditForm ref="editFormMovie" :isEditingMode="true" />
    </b-modal>
    <b-modal
      id="modal_creation"
      :title="$t('common.creation')"
      @ok="validationModal"
      @hidden="resetModal"
    >
      <EditForm ref="editFormMovie" :isEditingMode="false" />
      <!-- :isEditingMode="false" ==> a new movie form -->
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import {
  GET_MOVIES,
  FETCH_MOVIES,
  GET_MOVIES_BY_PAGE,
  ADD_MOVIE,
  isFirebaseSource,
} from "@/store/modules/movies.js";
import MovieCard from "@/components/MovieCard.vue";
import EditForm from "@/components/EditForm.vue";
import { allMovies } from "@/assets/mocks/movie-data.js";
export default {
  name: "listeMovies",
  components: {
    MovieCard,
    EditForm,
  },
  data() {
    return {
      listMovies: [],
      isLoading: false,
      isFirebaseSource,
    };
  },
  computed: {
    ...mapState("movies", ["movies"]),
    ...mapGetters("movies", {
      getMovies: GET_MOVIES,
      getMoviesByPage: GET_MOVIES_BY_PAGE,
    }),
  },
  methods: {
    ...mapActions("movies", {
      fetchMovies: FETCH_MOVIES,
      addMovie: ADD_MOVIE,
    }),
    validationModal() {
      if (this.$refs.editFormMovie.isEditingMode) {
        this.$refs.editFormMovie.editing();
      } else {
        this.$refs.editFormMovie.creation();
      }
      // this.fetchMovies();
    },
    resetModal() {},
    async loadingDataMovies(limitDownload = 10) {
      let i = 0;
      for (const movie of allMovies) {
        i++;
        if (i < limitDownload) {
          this.isLoading = true;
          await this.addMovie(movie);
          await this.fetchMovies();
          this.isLoading = false;
        }
      }
    },
  },
  async mounted() {
    this.isLoading = true;
    await this.fetchMovies();
    this.isLoading = false;
    console.log("listMovis / getMovies ", this.getMovies);
  },
};
</script>

<style></style>
