<template>
  <div class="movie-card">
    <div class="movie-card__content">
      <div class="movie-card__header">
        <h2>
          <span class="movie-card__primary-title">{{
            movie ? movie.primaryTitle : ""
          }}</span>
          <a
            class="movie-card__btn movie-card__btn--edit"
            v-b-modal.modal_edition
            @click="editingMovie({ ...movie })"
          >
            <!-- <i class="bi bi-pencil-square"></i>  -->
            <b-icon icon="pencil-square" />
          </a>
          <a
            class="movie-card__btn movie-card__btn--delete"
            @click="removeMovie({ ...movie })"
          >
            <b-icon icon="x-circle"
          /></a>

          <!-- <b-button v-b-modal.modal_edition>Edit</b-button> -->
        </h2>
        <span class="movie-card__original-title">
          {{ movie ? movie.originalTitle : "" }}
        </span>
      </div>
      <div class="movie-card__info">
        <div class="movie-card__field">
          <label>ID</label>
          <span>{{ movie ? movie.id : "" }}</span>
        </div>
        <div class="movie-card__field">
          <label>Minutes</label>
          <span> {{ movie ? movie.runtimeMinute : "" }} </span>
        </div>
        <div class="movie-card__field">
          <label> {{ $t("movie.startYear") }}</label>
          <span>{{ movie ? movie.startYear : "" }}</span>
        </div>
        <div class="movie-card__field">
          <label>{{ $t("movie.endYear") }}</label>
          <span> {{ movie ? movie.endYear : "" }} </span>
        </div>
        <div class="movie-card__field">
          <label>{{ $t("movie.isAdult") }}</label>
          <span> {{ movie ? (movie.isAdult ? "Yes" : "No") : "" }} </span>
        </div>
        <div class="movie-card__field">
          <label>Genre</label>
          <span>{{ movie ? movie.genres : "" }} </span>
        </div>
      </div>
    </div>
    <div class="movie-card__poster"></div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import {
  SET_CURRENT_MOVIE,
  DELETE_MOVIE,
  FETCH_MOVIES,
} from "@/store/modules/movies.js";
const newLocal = "common.alertMovieDeleted";
export default {
  name: "MovieCard",
  props: {
    movie: {
      type: Object,
      default: null,
    },
  },
  methods: {
    ...mapActions("movies", {
      setCurrentMovie: SET_CURRENT_MOVIE,
      deleteMovie: DELETE_MOVIE,
      fetchMovies: FETCH_MOVIES,
    }),
    editingMovie(editedMovie) {
      this.setCurrentMovie(editedMovie);
    },

    // method to delete a movie
    async deleteMovie(movie) {
      try {
        await this.$axios.delete(`/movies/${movie.id}`);
        this.$bvToast.toast(`${this.$t(newLocal)} \n ID : ${movie.id} `, {
          title: this.$t("common.alertTitle"),
          variant: "success",
          solid: true,
        });
      } catch (err) {
        this.$bvToast.toast(
          `${this.$t("common.alertMovieNotDeleted")} \n ID : ${movie.id} `,
          {
            title: this.$t("common.alertTitle"),
            variant: "danger",
            solid: true,
          }
        );
        throw (" error in @deleteMovie ", err);
      }
    },

    // update movie
    async updateMovie(movie) {
      try {
        await this.$axios.put(`/movies/${movie.id}`, movie);
        this.$bvToast.toast(
          `${this.$t("common.alertMovieUpdated")} \n ID : ${movie.id} `,
          {
            title: this.$t("common.alertTitle"),
            variant: "success",
            solid: true,
          }
        );
      } catch (err) {
        this.$bvToast.toast(
          `${this.$t("common.alertMovieNotUpdated")} \n ID : ${movie.id} `,
          {
            title: this.$t("common.alertTitle"),
            variant: "danger",
            solid: true,
          }
        );
        throw (" error in @updateMovie ", err);
      }
    },
    removeMovie(movie) {
      this.$bvModal
        .msgBoxConfirm(
          `${this.$t("common.alertDeletingMovie")} \n ID : ${movie.id} `
        )
        .then(async (value) => {
          if (value) {
            await this.deleteMovie(movie);
            await this.fetchMovies();
          }
        })
        .catch((err) => {
          // An error occurred
          throw (" error in @removeMovie ", err);
        });
    },
  },
};
</script>

<style></style>
