<template>
  <div class="pagination">
    <router-link
      v-if="nbrPages > 1"
      :to="`/liste-movies/${
        Number($route.params.page) > 1 ? Number($route.params.page) - 1 : 1
      }`"
    >
      <span
        class="pagination__preview"
        @click="
          Number($route.params.page) > 1
            ? setCurrentPage(Number($route.params.page) - 1)
            : 1
        "
      >
        &#x3C;
      </span>
    </router-link>
    <!-- -->
    <template v-for="item in nbrPages">
      <router-link v-if="item <= 5" :to="`/liste-movies/${item}`" :key="item">
        <span
          :class="getCurrentPage === item ? 'active' : ''"
          @click="setCurrentPage(item)"
        >
          {{ item }}
        </span>
      </router-link>
    </template>
    <template v-if="nbrPages > 10">
      <span> ... </span>
      <router-link :to="`/liste-movies/${nbrPages}`">
        <span
          :class="getCurrentPage === nbrPages ? 'active' : ''"
          @click="setCurrentPage(nbrPages)"
        >
          {{ nbrPages }}
        </span>
      </router-link>
    </template>
    <router-link
      v-if="nbrPages > 1"
      :to="`/liste-movies/${
        Number($route.params.page) < nbrPages
          ? Number($route.params.page) + 1
          : nbrPages
      }`"
    >
      <span
        @click="
          Number($route.params.page) < nbrPages
            ? setCurrentPage(Number($route.params.page) + 1)
            : false
        "
      >
        &#62;
      </span>
    </router-link>
    <em class="d-block fz12">v.2.2</em>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import {
  GET_MOVIES,
  SET_CURRENT_PAGE,
  NBR_MOVIE_BY_PAGE,
  GET_CURRENT_PAGE,
} from "@/store/modules/movies.js";
export default {
  name: "Pagination",
  components: {},
  data() {
    return {};
  },
  watch: {
    /* $route(to, from) {
      // react to route changes...
      console.log(`watch/$route  from`, from);
      console.log(`watch/$route  to`, to);
    
    }, */
  },
  computed: {
    ...mapGetters("movies", {
      getMovies: GET_MOVIES,
      getCurrentPage: GET_CURRENT_PAGE,
    }),
    nbrPages() {
      return Math.ceil(this.getMovies.length / NBR_MOVIE_BY_PAGE);
    },
  },
  methods: {
    ...mapActions("movies", {
      setCurrentPage: SET_CURRENT_PAGE,
    }),
  },
};
</script>

<style></style>
