<template>
  <form class="search-form">
    <!-- mobile search :  is diplayed in md an plus-->
    <input
      type="text"
      v-model="keywords"
      class="search-form__input--desktop d-none d-md-flex"
      id="inputSearch"
      :placeholder="$t('Search.searchMovie')"
    />
    <!-- "[ 'fas', this.displayFetchingUserLoader ? 'fa-spinner fa-pulse' : 'fa-key' ]"  -->
    <input
      type="text"
      v-model="keywords"
      :class="[
        'search-form__input--mobile d-flex d-md-none',
        isActiveMobileInputSearch ? 'active' : '',
      ]"
      id="inputSearch"
      :placeholder="$t('Search.searchMovie')"
    />
    <!-- d-none d-md-flex"-->
    <a
      class="search-form__btn-mobile d-flex d-md-none"
      @click="toggleSearchInput"
    ></a>
    <span class="search-form__nbr-result ml-3 hidden d-none">{{
      getMovies.length
    }}</span>
  </form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import {
  FETCH_MOVIES,
  SET_KEYWORD_TITLE,
  SET_CURRENT_PAGE,
  GET_MOVIES,
} from "@/store/modules/movies.js";
export default {
  name: "SearchForm",
  data() {
    return {
      isActiveMobileInputSearch: false,
      keywords: null,
    };
  },
  watch: {
    keywords() {
      this.searchMovie();
    },
  },
  computed: {
    ...mapGetters("movies", {
      getMovies: GET_MOVIES,
    }),
  },
  methods: {
    ...mapActions("movies", {
      fetchMovies: FETCH_MOVIES,
      setKeywordTitle: SET_KEYWORD_TITLE,
      setCurrentPage: SET_CURRENT_PAGE,
    }),
    async searchMovie() {
      // this.$router.push({ name: "ListingMovies", params: { page: 1 } });
      this.setKeywordTitle(this.keywords);
      this.setCurrentPage(1);
    },
    toggleSearchInput() {
      this.isActiveMobileInputSearch = !this.isActiveMobileInputSearch;
      this.keywords = null;
    },
  },
};
</script>

<style></style>
