<template>
  <div class="select-lang">
    <a
      :class="['fr', activeLang === 'fr' ? 'active' : '']"
      @click="setLang('fr')"
      id="fr"
    ></a>
    <a
      :class="['en ml-2', activeLang === 'en' ? 'active' : '']"
      @click="setLang('en')"
      id="en"
    ></a>
  </div>
</template>

<script>
export default {
  name: "selectLang",
  data() {
    return {
      activeLang: "en",
    };
  },
  components: {},
  methods: {
    setLang(lang) {
      this.$i18n.locale = lang;
      this.activeLang = lang;
    },
  },
};
</script>

<style></style>
